
#bottom-toolbar{
    -fx-padding: 0 0 50 0;
}

#grid-heading{
    -fx-padding: 50 0 0 0;
}

.pre-login-buttons{
    -fx-fill: rgb(40, 40, 40);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 25, -5, 0, 0);
}

.pre-login-buttons:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,255,75,0.5), 25, -5, 0, 0);
}

.toolbar-button-background{
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0.0, 0, 0);
}

.toolbar-button-background :hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,255,0,1), 20, 0.0, 0, 0);
}

.text{
    -fx-font-size: 18;
    -fx-fill: rgb(0,153,92);
}

.top-left-text{
    -fx-font-weight: BOLD;
    -fx-font-size: 15;
    -fx-fill: rgb(20,20,20);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 20, 0.0, 0, 0);
}

#top-left-box{
    -fx-padding: 10 10 10 10;
}

#top-tool-bar{
}

.level-select-text{
    -fx-font-weight: BOLD;
    -fx-font-size: 40;
    -fx-padding: 20 0 30 0;
    -fx-fill: rgb(0,153,92);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0.0, 0, 0);
}

.level-select-heading-container{
    -fx-padding: 0 0 35 0;
}

#guessed-letters-background{
    -fx-min-height: 50;
    -fx-fill: rgb(40, 40, 40);
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0.0, 0, 0);
}

#guessed-letters-box{
    -fx-padding: 10 0 0 10;
}

#total-score-box{
    -fx-background-color: linear-gradient(rgb(40,40,40) 20%,#131313 100%);
    -fx-font-size: 15;
    -fx-min-width: 200;
    -fx-padding: 0 0 0 10;
}

#entire-score-board{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0.0, 0, 0);
}

#restart-button-background{
    -fx-fill: rgb(40, 40, 40);
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0.0, 0, 0);
}

.cancel-button{
    -fx-background-color: rgba(40,40,40,0.9);
    -fx-text-fill: rgb(0,153,92);
    -fx-background-insets: 0, 6;
    -fx-background-radius: 6px, 6px;
}

#goal-label{
    -fx-font-size: 15;
    -fx-padding: 10 0 0 10;
    -fx-fill: rgb(0,153,92);
}

#goal-text-container{
    -fx-fill: rgb(40,40,40);
    -fx-min-width: 120;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0.0, 0, 0);
}

.play-pause-circle{
    -fx-fill: rgb(40,40,40);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0.0, 0, 0);
}

#scroll-pane-in-help{
    -fx-background: rgba(0, 0, 0, 0.6);
    -fx-border-color: rgba(0,0,0,0.6);
}

#help-screen-popup-background{
-fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 0 0 10 0;
}

#help-data-container{
    -fx-padding: 25,10,25,10;
}

.help-title{
    -fx-font-size: 25;
    -fx-padding: 10 0 0 10;
    -fx-fill: rgb(0,153,92);
}

.help-desc{
    -fx-font-size: 15;
    -fx-padding: 10 0 0 10;
    -fx-fill: rgb(0,153,92);
}

#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: rgb(70, 70, 70);
}

#toolbar {
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}


/* SCROOLLLING **/
.address .scroll-pane {
    -fx-background-color: transparent;
}

.address .scroll-bar .increment-button {
    visibility: hidden;
}

.address .scroll-bar .decrement-button {
    visibility: hidden;
}

.address .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.address .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.address .scroll-bar:vertical .track {
    visibility: hidden;
}

.address .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}