.table-view .table-row-cell{
    -fx-background-color: rgb(40,40,40);
}

.table-view .table-row-cell .text{
    -fx-font-size: 15;
}

.table-view{
    -fx-max-height: 245;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 0;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header{
    -fx-background-color: linear-gradient(#131313 0%, rgb(40,40,40) 100%);
}

.table-view > .column-header-background > .filler {
    -fx-background-color: linear-gradient(#131313 0%, rgb(40,40,40) 100%);
}

.table-view > .virtual-flow > .scroll-bar {
    -fx-font-size: 8pt;
}


/** SCROLL BAR CSS FROM: https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/**/
.scroll-bar{
    -fx-background-color: rgb(40,40,40);
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: rgb(40,40,40);
    -fx-border-color:rgb(40,40,40);
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: rgb(40,40,40);
    -fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(0,153,92);
    -fx-background-insets: 4 0 4 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(0,153,92);
    -fx-background-insets: 0 4 0 4;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(0,153,92);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(0,153,92);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:rgb(40,40,40);
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:rgb(40,40,40);
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(0,153,92);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(0,153,92);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(0,153,92);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(0,153,92);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(40,40,40),rgb(40,40,40);
}
